<ion-view view-title="Challenge">
	<ion-content>
		<div ui-ace="{
            useWrapMode : true,
            showGutter : true,
            theme: 'ambiance',
            mode: 'javascript',
            onLoad: aceLoaded,
            onChange : aceChanged
        }" ng-model="text" ng-click="clickEditor()"><input type="text"></div>

        <button class='button button-balanced' ng-click='testChallenge(text)'>
            {{buttons.test | uppercase}}
        </button>
        <button class='button button-balanced' ng-click='submitChallenge(text)'>
            {{buttons.submit | uppercase}}
        </button>
        <button class='button button-assertive'>
            {{buttons.dismiss | uppercase}}
        </button>
	</ion-content>
</ion-view>
