<ion-view view-title="Challenge">
	<ion-content>

               <pre>{{text}}</pre>
        <pre>KeyboardVis: {{keyboardVis}}</pre>
        <div>
            <textarea id='code' ng-model='text'></textarea>
        </div>
        <div style="margin-bottom:20px;">
            <button class='button button-balanced' ng-click='compileChallenge(text)'>
                {{buttons.compile | uppercase}}
            </button>

            <button class='button button-assertive' ng-click='dismissChallenge()'>
                {{buttons.dismiss | uppercase}}
            </button>
        </div>

	</ion-content>
   
   <ion-footer-bar class="bar-stable" keyboard-attach ng-show="keyboardVis">
           <div class="buttons" ng-repeat="item in footerMenu">
            <button class="button" ng-click="showPopup(item)">{{item.display}}</button>
          </div>
  </ion-footer-bar>


</ion-view>


