<div id='jasmineContainer'>
	<ng-transclude></ng-transclude>
	Suite Info - {{suiteInfo}}
	<pre>Suite Started: {{suiteStarted}}</pre>
	Spec Started - {{specStarted}}
	<pre>SpecDone: {{specDone}}</pre>
	Suite Done - {{suiteDone}}
	<h1>Suites</h1>
	{{suites}}

	<div class='jasmine_html-reporter'>
		<div class='banner'>
			<a class='title' href='http://jasmine.github.io/' target='_blank'></a>
			<span class='version'>2.3.0</span>
		</div>

		<ul class='symbol-summary'>
			<li ng-repeat='spec in specsOverview'class='{{spec.status}}' id='{{spec.id | append:"spec_"}}' title='{{spec.fullName}}'></li>
		</ul>

		<div class='alert'>
			<span class='duration'>finished in 0.011s</span>
			<span class='bar passed'>2 specs, 0 failures</span>
		</div>

		<div class='results'>
			<div class='failures'></div>
			<div class='summary'>
				<ul ng-repeat='suite in suites'class='suite' id='{{suite.id | append: "suite-"}}'>
					<li class='suite-detail'>
						{{suite.description}}
					</li>
					<ul class='specs'>
						<li ng-repeat='spec in suite.specs'class='{{spec.status' id='{{spec.id | append: "spec-"}}'>
							{{spec.description}}
						</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>

	<!-- Below is a template -->
	<!-- <div class='jasmine_html-reporter'>
		<div class='banner'>
			<a class='title' href='http://jasmine.github.io/' target='_blank'></a>
			<span class='version'>2.3.0</span>
		</div>

		<ul class='symbol-summary'>
			<li class='passed' id='spec_spec0' title='describe_name it_name'></li>
			<li class='disabled' id='spec_spec1' title='describe_name it_name'></li>
			<li class='pending' id='spec_spec2' title='describe_name it_name'></li>
		</ul>

		<div class='alert'>
			<span class='duration'>finished in 0.011s</span>
			<span class='bar passed'>2 specs, 0 failures</span>
		</div>

		<div class='results'>
			<div class='failures'></div>
			<div class='summary'>
				<ul class='suite' id='suite-suite1'>
					<li class='suite-detail'>
						<a href='?spec=Top%20Level%20suite'>describe_name</a>
					</li>
					<ul class='specs'>
						<li class='passed' id='spec-spec0'>
							<a href='?spec=describe_name+it_name'>it_name</a>
						</li>
					</ul>
				</ul>
				<ul class='suite' id='suite-suite2'>
					<li class='suite-detail'>
						<a href='?spec=describe_name+it_name'>describe_name</a>
					</li>
					<ul class='specs'>
						<li class='passed' id='spec-spec0'>
							<a href='?spec=describe_name+it_name'>it_name</a>
						</li>
					</ul>
				</ul>

			</div>
		</div>
	</div> -->
</div>