<ion-view view-title="Challenge" on-swipe-left='onSwipeLeft()' on-swipe-right='onSwipeRight()'>
	
	<ion-content class="padding">
		<div ui-ace="{
		useWrapMode : true,
		showGutter : true,
		theme: 'tomorrow',
		mode: 'javascript',
		onLoad: aceLoaded,
		onChange : aceChanged
	}" ng-model="text"></div>

	<button class='button button-balanced' ng-click='testChallenge()'>
		{{buttons.test | uppercase}}
	</button>
	<button class='button button-balanced' ng-click='submitChallenge()'>
		{{buttons.submit | uppercase}}
	</button>
	<button class='button button-assertive'>
		{{buttons.dismiss | uppercase}}
	</button>
	</ion-content>
</ion-view>
