<ion-view view-title="Log In">
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username or Email" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Log In</button>
        <button class="button button-block button-calm" ng-click="signup()">Sign Up</button>
        <!--TODO:<button class="button button-block button-calm">Reset Password (no action)</button>-->

    </ion-content>
</ion-view>


<!--<a href="#/tab/challenge"><button>Login (Don't Click)</button></a>-->

<!--<a href="#/signup">Create Account</a><br/>-->
<!--<a href="#/signup">Reset Password Button</a><br/>-->
