<ion-view view-title="" class="authentication">
    <ion-content>
        <div class="list list-inset">
            <div>
                <label class="item item-input-auth">
                    <input class="auth" type="text" placeholder="Username" ng-model="data.username" required style="color: black">
                    <div class="error" ng-show="data.username.$dirty && data.username.$invalid">
                        <small class="error" ng-show="data.username.name.$error.required">
                            Username or Email Required to Login
                        </small>
                    </div>
                </label>
            </div>
            <div>
                <label class="item item-input-auth">
                    <input class="auth" type="password" placeholder="Password" ng-model="data.password" required  style="color: black">
                </label>
            </div>
        </div>
        <div class='row' style='padding:0px;'>
            <button class="button button-block button-calm col auth" ng-click="login()">Log In</button>
            <button class="button button-block button-calm col auth" ng-click="signup()">Sign Up</button>
        </div>
        <!--TODO:<button class="button button-block button-calm">Reset Password (no action)</button>-->

    </ion-content>
</ion-view>


<!--<a href="#/tab/challenge"><button>Login (Don't Click)</button></a>-->

<!--<a href="#/signup">Create Account</a><br/>-->
<!--<a href="#/signup">Reset Password Button</a><br/>-->
