<ion-view view-title="{{name | nameformat}}">
	<ion-content>
		<pre>{{code.text}}</pre>
		<div class='editContainer'>
            <textarea id='exercism-code' ng-model='code.text' cmedit></textarea>
        </div>
        <button class='button button-balanced' ng-click='compile(code.text)'>
            COMPILE
        </button>
		<share ng-model="code.text"></share>
        <pre>dis keys on scope{{btns | json}}</pre>
	</ion-content>
	
	<ion-footer-bar codekeyboard keyboard-attach style="height:auto;">
		<!-- <div style="display:-webkit-flex-direction:row;">
			<span>hey there</span>
		</div> -->
		<!-- <div> -->
			<!-- <div><h4>Predictive</h4><snippetbuttons></snippetbuttons></div> -->
			<!-- <div> -->
				<snippetbuttons></snippetbuttons>
			<!-- </div> -->
		<!-- </div> -->
		<!-- <div class="buttons" style="-webkit-flex-direction:row" ng-repeat="btn in btns">
			<div style="-webkit-flex-direction:row" ng-show="">
				<button class="button" ng-repeat="item in btn.data" ng-click="btnDataClick(item.insertParam)">{{item.display}}</button>
			</div>
			<button class="button" style="-webkit-flex-direction:column" ng-click="btnCatClick(btn)">{{btn.display}}</button>
		</div> -->
	</ion-footer-bar>
</ion-view>

<!--<p>-->
    <!--<button ng-click="openPopover($event)">Open Popover</button>-->
<!--</p>-->

<!--<script id="my-popover.html" type="text/ng-template">-->
    <!--<ion-popover-view>-->
        <!--<ion-header-bar>-->
            <!--<h1 class="title">My Popover Title</h1>-->
        <!--</ion-header-bar>-->
        <!--<ion-content>-->
            <!--Hello!-->
        <!--</ion-content>-->
    <!--</ion-popover-view>-->
<!--</script>-->
