<ion-view view-title="{{name | nameformat}}">
	<ion-content>
		<pre>{{code.text}}</pre>
		<div class='editContainer'>
            <textarea id='exercism-code' ng-model='code.text' cmedit></textarea>
        </div>
        <button class='button button-balanced' ng-click='compile(code.text)'>
            COMPILE
        </button>
        <pre>dis keys on scope{{btns | json}}</pre>
	</ion-content>

	<ion-footer-bar codekeyboard keyboard-attach>
		<div style="display:-webkit-flex-direction:row;">
			<span>hey there</span>
		</div>
		<!-- <snippetbuttons style="-webkit-flex-direction:row" ng-model="replText"></snippetbuttons> -->

		<div class="buttons" style="-webkit-flex-direction:row" ng-repeat="btn in btns">
			<button class="button" style="-webkit-flex-direction:column" ng-click="btnClick(btn)">{{btn.display}}</button>
		</div>
	</ion-footer-bar>
</ion-view>
