<ion-view view-title="{{name | nameformat}}">
	<ion-content>
		<button class='button button-balanced' style="width:100%;" ng-click='compile(code.text)'>
            COMPILE
        </button>
		<div class='editContainer'>
            <textarea id='exercism-code' ng-model='code.text' cmedit></textarea>
        </div>
        
	</ion-content>
	
	<ion-footer-bar codekeyboard keyboard-attach style="height:auto;">
		<!-- <div style="display:-webkit-flex-direction:row;">
			<span>hey there</span>
		</div> -->
		<!-- <div> -->
			<!-- <div><h4>Predictive</h4><snippetbuttons></snippetbuttons></div> -->
			<!-- <div> -->
				<snippetbuttons></snippetbuttons>
			<!-- </div> -->
		<!-- </div> -->
		<!-- <div class="buttons" style="-webkit-flex-direction:row" ng-repeat="btn in btns">
			<div style="-webkit-flex-direction:row" ng-show="">
				<button class="button" ng-repeat="item in btn.data" ng-click="btnDataClick(item.insertParam)">{{item.display}}</button>
			</div>
			<button class="button" style="-webkit-flex-direction:column" ng-click="btnCatClick(btn)">{{btn.display}}</button>
		</div> -->
	</ion-footer-bar>
</ion-view>
